<p><strong>Country: </strong><%= @country%></p>
<p><strong>City: </strong><%= @city %></p>
<p><strong>localtime: </strong><%= @localtime %></p>
<p><strong>Temperature: </strong><%= @temp_c %> C</p>
<p><strong>Temperature: </strong><%= @temp_f %> F</p>
<p><strong>condition: </strong><%= @condition['text'] %></p>
<img src="<%= @condition['icon'] %>">
